<div class="divider top"></div>

<div class="credits">
  <div class="entry">Restaurant critic:  <br>Michael Bauer &bull; <a href="mailto:mbauer@sfchronicle.com">mbauer@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/michaelbauer1" target="_blank">@michaelbauer1</a></div>
  <div class="entry">Interactive producer:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
  <div class="entry">Graphics designer:  <br>Carolyn Seng  &bull; <a href="mailto:cseng@sfchronicle.com">cseng@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/carolynseng" target="_blank">@carolynseng</a></div>
</div>

<div class="divider top"></div>

<div class="dont-miss">
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/top-100-restaurants/" target="_blank">
      <img src="./assets/social/dont-miss-top100.jpg"></img>
      <div class="small">Top 100 restaurants of 2016</div>
    </a>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://www.sfchronicle.com/restaurants/article/The-Bay-Area-s-Top-10-New-Restaurants-of-2015-6713848.php" target="_blank">
      <img src="./assets/social/dont-miss-top10.jpg"></img>
      <div class="small">2015: Top new restaurants</div>
    </a>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://www.sfchronicle.com/restaurants/article/When-new-restaurants-push-the-price-too-far-too-8380503.php" target="_blank">
      <img src="./assets/social/dont-miss-prices.jpg"></img>
      <div class="small">State of restaurant prices</div>
    </a>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://www.sfchronicle.com/author/michael-bauer/" target="_blank">
      <img src="./assets/social/dont-miss-bauer.jpg"></img>
      <div class="small">Read more: Michael Bauer</div>
    </a>
    </div>
  </div>
</div>

<footer>
  <a class="logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="./assets/logos/sf_logo_white.png">
  </a>
</footer>
