<div class="divider">
</div>

<div class="credits">
  <div class="entry">Reporter:  <br>Michael Bauer &bull; <a href="mailto:mbauer@sfchronicle.com">mbauer@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/michaelbauer1" target="_blank">@michaelbauer1</a></div>
  <div class="entry">Interactive producer:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
</div>

<div class="divider">
</div>

<footer>
  <a class="logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="../assets/logos/sf_logo_white.png">
  </a>
</footer>
