<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics.html") %>
  </head>
  <script>  var HDN = HDN || {}  </script>

  <body>

    <%= t.include("partials/_nav.html") %>

    <div class="title-container">
    <div class="background-img">
        <div class="dim"></div>
        <div class="over-img">
          <h1 class="title long">30 years of restaurant innovation</h1>
          <div class="deck">Michael Bauer’s timeline of Bay Area dining history</div>
          <p class="author">By Michael Bauer</a></p>
          <p class="date">September 2016</p>
        </div>
      </div>
    </div>
    <p class="caption landing">This is a caption.<span class="byline"> Person Person, The Chronicle</span></p>

    <div class="intro">
      It’s not often we take time to look back, reflect and see what brought us to our present day. On my 30th anniversary at The Chronicle, I’ve decided to do just that. I’ve compiled a year-by-year list of the restaurants that moved the dining scene forward, picking the most important restaurant from each of my 30 years. It’s not always the best restaurant of the year — or even the most prominent — but ones that offered something special and made the Bay Area the food epicenter it is today.
      <div class="intro-sign">— Michael Bauer</div>
    </div>


    <div class="divider"></div>

    <div id="stick-here"></div>

    <div class="timeline" id="timeline">
      <% csv.restaurantData.forEach(function(restaurant,idx) { %>
        <div class="rest-group" id= <%= restaurant.year %> >


          <div class="rest-name">
            <div class="sticky-name">
              <div class="rest-yr"><%= restaurant.year %></div>
              <div class="rest-title"><%= restaurant.name %></div>
              <div class="rest-tweet"><a id="twitter-icon" title="Share on Twitter" class="inline" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F<%= grunt.data.json.project.slug %>%23<%=restaurant.year%>&text=<%= grunt.data.json.project.twitter_text %>&hashtags=<%= grunt.data.json.project.hashtag %>">
                <i class="fa fa-twitter"></i>
              </a></div>
            </div>
          </div>

          <div class="rest-content">
            <div class="rest-img"><img src= <%= restaurant.photo %>900x900.jpg></img></div>
            <div class="caption"><%= restaurant.caption %> <span class="byline"><%= restaurant.photographer %></span></div>

            <div class="rest-text"><%= restaurant.text %></div>

            <% if (restaurant.runnerup){ %>
              <div class="runnerup-block">
                <div class="runnerup-hed">Runner-up: <%= restaurant.runnerup %></div>
                <div class="runnerup-text"><%= restaurant.runnerup_text %></div>
              </div>
            <% } %>
            <% if (restaurant.runnerup2){ %>
              <div class="runnerup-block">
                <div class="runnerup-hed">Runner-up: <%= restaurant.runnerup2 %></div>
                <div class="runnerup-text"><%= restaurant.runnerup2_text %></div>
              </div>
            <% } %>
            <div class="divider small"></div>

          </div>

        </div>

      <% }); %>
    </div>

    <br class="break"></br>
    <div class="a-next"><a href="http://www.google.com" id="next" class="anchor" target="_blank"><div class="next">Read the story</div></a></div>

    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
